@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Felipa&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Orbitron:wght@400..900&display=swap');


/* ONLY FOR HTML PART-1 */
body{
    margin: 0;
    padding: 0;
    /* background: rgb(237, 156, 170); */
    font-family: 'Fraunces', sans-serif;
    box-sizing: border-box;
  }

.header{
    background: white;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    z-index: 200;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-grow: 1;
}
.xit-logo-header{
  height: 55px;
}
.left-header{
  width: 120px;
}
.xit{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top{
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 0px;
}
.tagline{
  font-size: 14px;
  margin-top:0;
  padding-bottom: 0;
  color: rgb(87,87,87);
  font-family: 'Bona Nova SC';
}
.menu-image {
  width: 16px;
   height: 16px;
   cursor: pointer;
 }
 .social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-top: 10px;
  cursor:pointer;
 }
#fb{
  width: 34px;
  height: 34px;
  margin-right: 12px;
}
 #in{
   width: 30px;
   height: 30px;
   margin-right: 12px;
 }
 #ig{
  width: 24px;
  height: 24px;
  margin-right: 12px;
 }
 .social-media a{
  text-decoration: none;
 }

.left-header{
  margin-right:15px;
  cursor:pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}


.navbar{
  margin-top: 55px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  height: 40px;
  color: rgb(87,87,87);
  position: relative;
  z-index: 30;
  flex-grow: 1;

}
.menu-bar{
  margin-top: 60px;
}
/* .dropdown-arrow{
  width:12px;
  padding-top: 5px;
} */
.nav-links{
  display: flex;
  gap:50px;
  
}
.nav-link, .drop-down li{
  list-style: none;
  height: 100%;
  padding-bottom: 2px;
  cursor: pointer;
}
.nav-link {
  position: relative;
}

.nav-links a{
  text-decoration: none;
  color: rgb(87,87,87);
}


.flex{
  display: flex;
  flex-grow: 1;
}
.black-fade1{
  /* width: 1260px; */
  width: 100%;
  min-width: none;
  height: 650px;
  background: black;
  opacity: 0.6;
  position: absolute;
  z-index: 20;
}


.first-vid{
  /* width: 1260px; */
  width: 100%;
  height: 650px;
  min-width: 500px;
  object-fit: cover;
  position: absolute;
  z-index: 10;
  flex:1;
}

.text-over-first-image{
  position: relative;
  width: 1260px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 30;
  }
.text1{
  width: 550px;
  font-size: 40px;
  line-height: 1.6em;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  color:white;
  
}
.text2{
  width:100%;
  margin-top: 45px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.6em;
  text-align: center;
  position: relative;
  color:white;
}


.destination{
  font-size: 22px;
  margin-left: 95px;
  margin-top: 45px;
}
.cities{
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  padding-bottom: 20px;
  height: 190px;
}
.city-item a{
  text-decoration: none;
}
.city-item {
  position: relative;
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.15s, width 0.15s, margin-top 0.15s;
}
.city-item:hover{
  height:190px;
  width: 190px;
  margin-top: -10px;
}
.black-fade2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  border-radius: 5px;
}

.city-ref {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  z-index: 10;
}

.city-item p {
  position: relative;
  color: white;
  z-index: 30;
  font-weight: 500;
}


.side-text-1{
  font-size: 36px;
  line-height: 1.6;
  width: 350px;
}
.side-text-2{
  margin-top: 50px;
  font-size: 20px;
  line-height: 1.6;
  width: 350px;
  font-weight: 300;
}
.side-img {
  border-radius: 3px;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    width:555x;
    max-width: 100%;
    filter: grayscale(100%);
    transition: grayscale 0.4s;
    border-radius: 3px;
}
.side-container1{
  display: inline-block;
  width:585px;
  padding: 60px 0px 60px 30px;
}
.side-container2{
  display: inline-block;
  vertical-align: top;
  margin-left: 80px;
  background: none;
}
.two-sides{
  min-width: 650px;
  background-color: rgb(241, 240, 240);
  margin-left: 100px;
  margin-bottom: 70px;
  border-radius: 5px;
  max-width: 85%;
  box-shadow: 0px 0px 5px #00000070;
  transition: background 0.3s, color 0.3s;
  flex-grow: 1;
}
.two-sides:hover{
  background: rgb(137, 136, 136);
  color:white;
}
.side-img:hover{
  filter: grayscale(0%);
}
.read-more{
  width: 130px;
  height: 55px;
  color:white;
  background: black;
  border: none;
  transition: border .05s;
  border-radius: 5px;
  font-size: 20px;
  font-family: Fraunces;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 25px;
  transition: broder 0.15s, color 0.15s, background 0.15s, opacity 0.15s;
}
.read-more:hover{
  border: 2px solid black;
  opacity: 0.7
}
.read-more:active{
  color:black;
  border: 2px solid black;
  background: white;
}

